<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widdiv=device-widdiv,initial-scale=1">
    <title>ShieldsUP - Status</title>
    <meta name="audivor" content="Rohan Fletcher">
    <meta name="description" content="Status of dive ShieldsUP project in New Zealand">
    <meta name="keywords" content="status,shieldsup">
    <link href="/static/status/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="text-white text-2xl" style="background-color: #101010;">

        <!-- Title -->
        <div class="container mx-auto py-8">
            <img class="mx-auto w-1/2 mb-16" src="https://shieldsup.org.nz/wp-content/uploads/2020/03/cropped-shieldsup-dark-1.png">
            <h1 class="text-3xl mb-8 lg:text-4xl font-bold text-center">Orders</h1>
            <table id="order-table" class="w-full mb-8 table-auto">
                <tr>
                    <th class="py-4 px-8">&nbsp;</th>
                    <th class="bg-gray-700 rounded-tl-lg py-4 px-8">Waiting</th>
                    <th class="bg-blue-700 py-4 px-8">Assigned</th>
                    <th class="bg-yellow-600 py-4 px-8">Ready</th>
                    <th class="bg-green-600 py-4 px-8">Shipped</th>
                    <th class="bg-red-700  py-4 px-8">Invalid</th>
                    <th class="py-4 px-8 rounded-tr-lg bg-gray-900">Total</th>
                </tr>
            </table>
            <h1 class="text-3xl mt-16 lg:text-4xl font-bold text-center">Stock / Stock Requests</h1>
            <table id="stock-table" class="my-8 mx-auto table-auto">
                <tr>
                    <th class="py-4 px-8">&nbsp;</th>
                    <th class="bg-blue-700 rounded-tl-lg py-4 px-8">On Hand</th>
                    <th class="bg-red-700 rounded-tr-lg py-4 px-8">Requested</th>
                </tr>
            </table>
            <h1 class="text-3xl mt-16 lg:text-4xl font-bold text-center">Machines</h1>
            <table id="machine-table" class="mx-auto my-8 table-auto">
                <tr>
                    <th class="py-4 px-8">&nbsp;</th>
                    <th class="bg-gray-700 rounded-tl-lg py-4 px-8">Count</th>
                    <th class="bg-gray-700 py-4 px-8">Total Capacity Per Day</th>
                    <th class="bg-gray-700 rounded-tr-lg py-4 px-8">Average Capacity Per Day</th>
                </tr>
            </table>
            <div class="mt-24 mb-8 mx-auto text-center text-gray-500 text-sm">Last updated: <span id="timestamp"></span></div>
        </div>

        <table class="hidden">
            <tr id="stock-template">
                <th class="template-label py-4 px-8 text-left">{{label}}</th>
                <td class="{{most_left_cell}} text-right bg-blue-700 py-4 px-8">{{available}}</td>
                <td class="{{most_right_cell}} text-right bg-red-700 py-4 px-8">{{requested}}</td>
            </tr>
            <tr id="machine-template">
                <th class="py-4 px-8 text-right">{{label}}</th>
                <td class="{{most_left_cell}} text-right bg-gray-700 py-4 px-8">{{count}}</td>
                <td class="text-right bg-gray-700 py-4 px-8">{{total_capacity_per_day}}</td>
                <td class="{{most_right_cell}} text-right bg-gray-700 py-4 px-8">{{average_capacity_per_day}}</td>
            </tr>
            <tr id="order-template">
                <th class="py-4 px-8 text-right">{{label}}</th>
                <td class="{{most_left_cell}} text-right bg-gray-700 py-4 px-8">{{waiting}}</td>
                <td class="text-right bg-blue-700 py-4 px-8">{{assigned}}</td>
                <td class="text-right bg-yellow-600 py-4 px-8">{{ready}}</td>
                <td class="text-right bg-green-600 py-4 px-8">{{shipped}}</td>
                <td class="text-right bg-red-700 py-4 px-8">{{invalid}}</td>
                <td class="{{most_right_cell}} text-right bg-gray-900 py-4 px-8">{{total}}</td>
            </tr>
        </table>

        <script src="/static/status/handlebars.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(event) {
                var stock_el = document.getElementById('stock-template')
                stock_el.removeAttribute('id')
                var stock_template = Handlebars.compile(stock_el.innerHTML)
                var machine_el = document.getElementById('machine-template')
                machine_el.removeAttribute('id')
                var machine_template = Handlebars.compile(machine_el.innerHTML)
                var order_el = document.getElementById('order-template')
                order_el.removeAttribute('id')
                var order_template = Handlebars.compile(order_el.innerHTML)
                fetch("/api/v1/metrics/")
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    document.getElementById('timestamp').innerHTML = data.timestamp
                    base = data.data.ALL.order
                    labels = {
                        "count": "Number of Orders",
                        "quantity_needed": "Standard Shields Wanted",
                        "quantity_wanted": "Dental Shields Wanted",
                        "quantity_delivered": "Combined Shields Delivered"
                    }

                    states = ["waiting", "assigned", "ready", "shipped", "invalid"]
                    fields = Object.keys(labels)

                    fields.forEach(function(field, idx) {
                        row = {
                            "label": labels[field]
                        }
                        if (idx == fields.length - 1) {
                            row.most_right_cell = "rounded-br-lg"
                            row.most_left_cell = "rounded-bl-lg"
                        }
                        states.forEach(function(key) {
                            row[key] = base[key][field]
                        })
                        row['total'] = base.ALL[field]
                        var el = document.createElement('tr')
                        el.innerHTML = order_template(row)
                        document.getElementById('order-table').appendChild(el)
                    })

                    base = data.data.ALL.machine
                    labels = {
                        "3dprinter": "3d Printer",
                        "lasercutter": "Laser Cutter",
                    }

                    fields = Object.keys(labels)

                    fields.forEach(function(field, idx) {
                        row = {
                            "label": labels[field],
                            "count": base[field]['count'],
                            "total_capacity_per_day": base[field]['output_per_day']['total'],
                            "average_capacity_per_day": Math.round(base[field]['output_per_day']['avg'] * 100) / 100,
                        }
                        if (idx == fields.length - 1) {
                            row.most_right_cell = "rounded-br-lg"
                            row.most_left_cell = "rounded-bl-lg"
                        }
                        var el = document.createElement('tr')
                        el.innerHTML = machine_template(row)
                        document.getElementById('machine-table').appendChild(el)
                    })

                    base = data.data.ALL.product
                    labels = data.labels.products

                    productIds = Object.keys(base.stock).concat(Object.keys(base.stockrequest.product))

                    function onlyUnique(value, index, self) {
                        return self.indexOf(value) === index;
                    }

                    productIds = productIds.filter(onlyUnique)

                    productIds.forEach(function(field, idx) {
                        var stock = base.stock[field] || 0
                        var request = base.stockrequest.product[field]
                        var amountRequested = 0
                        if (request != undefined) {
                            amountRequested = request['waiting']['total_quantity_requested']
                            amountRequested += request['accepted']['total_quantity_requested']
                            amountRequested -= request['accepted']['total_quantity_given']
                        }
                        row = {
                            "label": labels[field].name,
                            "available": stock,
                            "requested": amountRequested
                        }
                        if (idx == productIds.length - 1) {
                            row.most_right_cell = "rounded-br-lg"
                            row.most_left_cell = "rounded-bl-lg"
                        }
                        var el = document.createElement('tr')
                        el.innerHTML = stock_template(row)
                        document.getElementById('stock-table').appendChild(el)
                    })
                });
            });
        </script>
    </body>
</html>
